.skeleton-card {
  .title-skeleton {
    margin-bottom: 1.5rem;
  }
  
  .meta-skeleton {
    margin-bottom: 0.75rem;
  }
  
  .subtitle-skeleton {
    margin-bottom: 1rem;
  }
  
  .text-skeleton {
    margin-bottom: 0.5rem;
  }
  
  .ingredient-skeleton {
    margin-bottom: 0.5rem;
  }
  
  .cocktail-meta, .cocktail-instructions, .cocktail-ingredients {
    margin-bottom: 1.5rem;
  }
}